{% extends "main-template.html" %}
	
{% block body %}
    <h1 class="page-header">Expense</h1>
   
    <form role="form" action="{{action}}" method="post">
        {% include "main/snippets/_form_snippet.html" with back_url="expenses" readonly="disabled:disabled"  %}
        <div class="row">
          <div class="col-sm-12">
            <button type="submit" class="btn btn-danger"><span class="fa fa-trash" style="margin-right:5px"></span>Delete</button>
            <a href="{% url 'expenses' %}" class="btn btn-warning"><span class="fa fa-reply" style="margin-right:5px"></span> Cancel</a>
          </div>
        </div
    </form>
{% endblock %}