{% extends "main-template.html" %}
	
{% block body %}
    <h1 class="page-header">Expense</h1>
    
    <form role="form" action="{{action}}" method="post">
        {% include "main/snippets/_form_snippet.html"  %}
        {% include "main/snippets/_form_actions_snippet.html" with back_url="expenses"  %}
    </form>
    
    <script>
      window.onload=function(){
        document.getElementById("id_value").focus();
        $("#id_type").change( function(evt){
          var id = parseInt($(this).val());
          if(id){
            $.get("/expense_types/"+id+"/subtypes/" , function(d){
              console.log( d );  
            });
            
          }
        });
      }
    </script>
{% endblock %}