{% extends "main-template.html" %}
	
{% block body %}
    <h1 class="page-header">Expense</h1>
    
    <form role="form" action="{{action}}" method="post">
        {% include "main/snippets/_form_snippet.html"  %}
        {% include "main/snippets/_form_actions_snippet.html" with back_url="expenses"  %}
    </form>
    
    <script>
      var k = null;
      window.onload=function(){
        document.getElementById("id_value").focus();
        $("#id_type").change( function(evt){
          var id = parseInt($(this).val());
          if(id){
            var input = $("#id_subtype").clone().empty();
            $(input).append($('<option>', {value: "" , text: "---------" }))
            $.get("/expense_types/"+id+"/subtypes/" , function(subtypes){
              for(var i = 0 ; i < subtypes.length ; i++ ){
                var sub = subtypes[i];
                $(input).append($('<option>', {value: sub.pk , text: sub.name }))
              }
              $("#id_subtype").replaceWith(input);
            });
            
          }
        });
      }
    </script>
{% endblock %}