{% load tags  %}
{% url 'home' as home_url %}
{% url 'expenses' as expenses_url %}
{% url 'expense_types' as expense_types_url %}
{% url 'profits' as profits_url %}
{% url 'profit_types' as profit_types_url %}

<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="{% is_active request home_url %}"><a href="{{ home_url }}">Overview <span class="sr-only">(current)</span></a></li>
        <li class="{% is_active request expenses_url %}"><a href="{{ expenses_url }}">Expenses</a></li>
        <li class="{% is_active request expense_types_url %}"><a href="{{ expense_types_url }}">Expense Types</a></li>
        <li class="{% is_active request profits_url %}"><a href="{{ profits_url }}">Profits</a></li>
        <li class="{% is_active request profit_types_url %}"><a href="{{ profit_types_url }}">Profit Types</a></li>
    </ul>
</div> 

