{% extends "main-template.html" %}

{% block body %}
   
   
   <div class="row">
       <div class="col-sm-12 col-md-6">
           <div class="panel panel-default">
               <div class="panel-heading">Month Resume</div>
               <div>
                   <dl class="dl-horizontal">
                       <dt>Expenses:</dt>
                       <dd>{{ resume.expenses }}</dd>
                       <dt>Profits:</dt>
                       <dd>{{ resume.profits }}</dd>
                       <dt>Investments:</dt>
                       <dd>0.00</dd>
                       <dt>Investments Profits:</dt>
                       <dd>0.00</dd>
                   </dl>
               </div>
           </div>
       </div>
   </div>
   
    <div class="row">
       <div class="col-sm-12 col-md-6">
           <div class="panel panel-default">
               <div class="panel-heading">Month Expenses by Type</div>
               <div>
                   <div id="chart1" class="ct-chart"></div>
               </div>
           </div>
       </div>
   </div>
   
   <script>
       window.onload = function(){
            new Chartist.Bar('#chart1', {
  labels: ['M', 'T', 'W', 'T', 'F'],
  series: [8, 19, 24, 37, 12]
}, {
  distributeSeries: true  
});
       }
   </script>
   
{% endblock %}
